@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: #fff !default;
$slick-dot-color: #000 !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }

  @else {
    @return url($slick-loader-path + $url);
  }
}


/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;


  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }

  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {

  position: absolute;
  bottom: -75px;
  left: 10px;
  top: unset !important;
  right: unset !important;
  width: 25px;
  height: 20px;
  background: url("../images/svg/slider-arrow.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
  opacity: 1 !important;
  transform: rotate(180deg);

  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }

  &:before {
    content: '';

    [dir="rtl"] & {
      // content: $slick-next-character;
    }
  }
}

.slick-next {
  position: absolute;
  bottom: -75px;
  left: unset;
  right: 10px !important;
  top: unset !important;
  width: 25px;
  height: 20px;
  background: url("../images/svg/slider-arrow.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
  opacity: 1 !important;
}

// ====

.hero_slider {
  .slick-prev {
    position: absolute;
    bottom: 69px;
    left: 100px;
    top: unset !important;
    right: unset !important;
    width: 54px;
    height: 24px;
    background: url("../images/svg/big-arrow.svg") no-repeat center;
    background-size: contain;
    transform: rotate(0);
    z-index: 4;
    opacity: 1 !important;
  }

  .slick-next {
    position: absolute;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    top: unset !important;
    right: unset !important;
    left: 220px;
    bottom: 70px;
    width: 54px;
    height: 24px;
    background: url("../images/svg/big-arrow.svg") no-repeat center;
    background-size: contain;
    z-index: 4;
    opacity: 1 !important;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      display: block;

      button {
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        opacity: .3;
        border-radius: 50%;
      }


      &.slick-active {
        width: 30px;
        height: 30px;
      }

      &.slick-active button {
        background: url("../images/svg/dot.svg") no-repeat center !important;
        background-size: contain;
        width: 30px;
        height: 30px;
        border: none;
      }
    }
  }
}

.project_box {
  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 100px;
    width: 36px;
    height: 24px;
    background: url("../images/svg/arrow_left.svg") no-repeat center;
    background-size: contain;
    z-index: 4;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 100px;
    width: 36px;
    height: 24px;
    background: url("../images/svg/arrow_right.svg") no-repeat center;
    background-size: contain;
    z-index: 4;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -50px;

    li {
      display: block;

      button {
        display: block;
        width: 10px;
        height: 10px;
        border: 2.5px solid #fff;
        opacity: .8;
        border-radius: 50%;
      }


      &.slick-active {
        width: 15px;
        height: 15px;
      }

      &.slick-active button {
        background: #CBC72C;
        background-size: contain;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }
  }
}

.post_slider {

  .slick-dots {
    position: absolute;
    bottom: -55px;
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      position: relative;
      // height: 14px;
      // width: 14px;
      cursor: pointer;
      margin: 0 8px;

      button {
        border: 0;
        display: block;
        height: 10px;
        width: 40px;
        outline: none;
        color: transparent;
        border-radius: 27px;
        background: $gray;
        cursor: pointer;
        // margin: 0 8px;
        @include transition;

        &:focus {
          outline: none;
          background: $yellow;
        }
      }

      &.slick-active button {
        background: $yellow;
        width: 40px;
        border-radius: 27px;

      }

      // &.slick-active {
      //   width: 28px;
      // }
    }
  }
}


.slick-next {
  right: -25px;

  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }

  &:before {
    content: '';

    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}

/* Dots */

// .slick-dotted.slick-slider {
//   margin-bottom: 30px;
// }

.slick-dots {
  position: absolute;
  bottom: -75px;
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    // height: 14px;
    // width: 14px;
    cursor: pointer;
    margin: 0 8px;

    button {
      border: 0;
      display: block;
      height: 10px;
      width: 40px;
      outline: none;
      color: transparent;
      border-radius: 27px;
      background: #fff;
      cursor: pointer;
      // margin: 0 8px;
      @include transition;

      &:focus {
        outline: none;
        background: $yellow;
      }
    }

    &.slick-active button {
      background: $yellow;
      width: 40px;
      border-radius: 27px;

    }

    // &.slick-active {
    //   width: 28px;
    // }
  }
}